@page
@model IncidentManagmentDemo.Pages.Worker.Incidents.IndexModel
@{
}
<h2 class="text-center mb-5">Incidents</h2>
<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" href="/Worker/Incidents/Create">Report Incident</a>
    </div>
    <div class="col">

    </div>
</div>
<table class="table table-striped table-borderless  table-responsive-lg">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Intensity</th>
        <th>Location</th>
        <th>Reported On</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    @foreach(var incident in Model.Incidents)
    {
        <tr>
            <td>@incident.Id</td>
            <td>@incident.Title</td>
            <td>
                @if (incident.Intensity == 1)
                {
                    <span class="badge rounded-pill bg-primary">LOW</span>
                 
                }else if (incident.Intensity == 2)
                {
                    <span class="badge rounded-pill bg-warning">Normal</span>
                }
                else
                {
                    <span class="badge rounded-pill bg-danger">Critical</span>
                }

            </td>
            <td>@incident.Location</td>
            <td>@incident.Reported.ToString("yyyy-MM-dd")</td>
            <td>@if (incident.Status == 0)
                {
                    <label>Pending</label>
                }else if(incident.Status ==1)
                {
                    <label>Investigating</label>
                }else if (incident.Status == 2)
                {
                    <label>Processing</label>
                }else if (incident.Status == 3)
                {
                    <label>Resolved</label>
                }
            
            
            </td>
            <td style="white-space:nowrap">
                <a class="btn btn-primary btn-sm" href="/Worker/Incidents/Edit?id=@incident.Id">Edit</a>
                <a class="btn btn-danger btn-sm" href="/Worker/Incidents/Delete?id=@incident.Id">Delete</a>
            </td>
        </tr>
    }

</table>
