@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Incident Management </h1>
    <img src="siteImages/welcome_banner.jpeg">
</div>
